In [1]:
#导入所需模块
import pandas as pd
import numpy as np

In [2]:
task3_name=pd.read_csv('movies.csv')#读取数据
task3_name.info()#查看表中数据类型，数据缺失情况

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8043 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

由于想要了解的问题是
- 问题 1：电影类型是如何随着时间的推移发生变化的？
- 问题 2：Universal Pictures 和 Paramount Pictures 之间的对比情况如何？
- 问题 3：改编电影和原创电影的对比情况如何？(通过keywords变量中的based on novel字段来判断)
- 问题 4: 由谁导演的什么类型电影更易收到欢迎？

In [3]:
#['homepage','tagline','overview']对结果影响不大,进行删除:
task3_name=task3_name.drop(['homepage','tagline','overview'],axis=1)

In [4]:
new_task3_name=task3_name.dropna()#删除空值
new_task3_name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8665 entries, 0 to 10865
Data columns (total 18 columns):
id                      8665 non-null int64
imdb_id                 8665 non-null object
popularity              8665 non-null float64
budget                  8665 non-null int64
revenue                 8665 non-null int64
original_title          8665 non-null object
cast                    8665 non-null object
director                8665 non-null object
keywords                8665 non-null object
runtime                 8665 non-null int64
genres                  8665 non-null object
production_companies    8665 non-null object
release_date            8665 non-null object
vote_count              8665 non-null int64
vote_average            8665 non-null float64
release_year            8665 non-null int64
budget_adj              8665 non-null float64
revenue_adj             8665 non-null float64
dtypes: float64(4), int64(6), object(8)
memory usage: 1.3+ MB

经过处理,得到8665条数据.

In [5]:
#查看数据表:
new_task3_name.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,keywords,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,future|chase|post-apocalyptic|dystopia|australia,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,based on novel|revolution|dystopia|sequel|dyst...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,android|spaceship|jedi|space opera|3d,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,car race|speed|revenge|suspense|car,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09

### 问题 1：电影类型是如何随着时间的推移发生变化的？

In [6]:
#相关列为[genres],[release_date]. genres列中存在'|',将其进行处理:
split_genres=new_task3_name['genres'].str.split('|',expand=True)#分离genres
split_genres['id']=new_task3_name['id']#将[id]列复制
merged_q1=pd.merge(new_task3_name,split_genres,on=['id'])#合并原始数据和拆分的genres
q1=pd.melt(merged_q1,id_vars=['id','release_year'],value_vars=[0,1,2,3,4],value_name='genres').drop('variable',axis=1).dropna()#将根据id和release_year,把类型一列融合
q1.to_csv('q1.csv',index=False,encoding='utf_8_sig')#将其导出为csv

In [7]:
#将q1导入Tableau进行可视化:
q1dashboard="https://public.tableau.com/profile/.80136852#!/vizhome/q1_12/q1"
q1dashboard

'https://public.tableau.com/profile/.80136852#!/vizhome/q1_12/q1'

将q1与原始数据movies取交集后导入Tableau：
1. 	作时间随类别的折线图，清楚看清变化趋势
2. 	各类别收入和受欢迎程度对比

#### 结论:
- 随着时间的推移，Drama ,Comdy ,Thriller ,Action , Ramance增长幅度较大
- 随着时间的推移，Foreign ,TV Movie ,Wenstern 增长趋势很慢
- 各个类别的受欢迎度与其收入正相关。
- 在类别中选择增长趋势明显的前5项:Action ,Adventure , Comdy ,Drama , Thriller 
- 与上面折线图相比，发现Adventure类受欢迎程度与收入都较高，但增长幅度相对不大；Ramance类增加幅度大，但受欢迎程度和收入不大。

### 问题 2：Universal Pictures 和 Paramount Pictures 之间的对比情况如何？

In [8]:
#同上,首先进行数据处理
split_companies = new_task3_name['production_companies'].str.split('|',expand=True)#分离出production_companies
split_companies['id']=new_task3_name['id']
merged_q2=new_task3_name.merge(split_companies)#将原始数据和分离出的电影公司合并为新的数据集
q2=pd.melt(merged_q2,id_vars=['id'],value_vars=[0,1,2,3,4],value_name='production companies').drop('variable',axis=1).dropna()
q2=q2[(q2['production companies']=='Paramount Pictures')|(q2['production companies']=='Universal Pictures')]#筛选出Universal Pictures 和 Paramount Pictures 
q2.to_csv('q2.csv',index=False,encoding='utf_8_sig')#另存q2表示此数据集

In [9]:
#将q2导入Tableau进行可视化:
q2dashboard="https://public.tableau.com/profile/.80136852#!/vizhome/q2_14/q2"
q2dashboard

'https://public.tableau.com/profile/.80136852#!/vizhome/q2_14/q2'

将q2与原始数据movies取交集后导入Tableau：
1.	对比两公司在总计欢迎度和总收入之间的区别
2.	随着时间变化，对比两公司在平均欢迎度和平均收入之间的区别

#### 结论:
- 环球影业拍摄电影更多
- 环球影业总收入和受欢迎程度更高
- 派拉蒙影业平均收入和平均受欢迎程度略高

### 问题 3：改编电影和原创电影的对比情况如何?

In [10]:
split_novel = new_task3_name['keywords'].str.split('|',expand=True)#同上,将关键字进行分离
split_novel['id']=new_task3_name['id']

#如果关键字中包含based on novel ,取1 ,否则取0
def if_novel(x):
    if x=='based on novel':
        return 1
    else:
        return 0
#分离出的0 1 2 3 4 每列使用上述构建函数判断是否为1,将其求和
split_novel['base on novel'] = split_novel[0].apply(if_novel)+split_novel[1].apply(if_novel)+split_novel[2].apply(if_novel)+split_novel[3].apply(if_novel)+split_novel[4].apply(if_novel)
#将id 和base on novel 两列另存为q3
split_novel[['id','base on novel']].to_csv('q3.csv',index=False,encoding='utf_8_sig')

In [11]:
#将q3导入Tableau进行可视化:
q3dashboard="https://public.tableau.com/profile/.80136852#!/vizhome/q3_7/q3"
q3dashboard

'https://public.tableau.com/profile/.80136852#!/vizhome/q3_7/q3'

将q3与原始数据movies取交集后导入Tableau：
1.	作收入和记录数随时间变化折线
2.	分别对比两中类别在平均欢迎度和平均收入之间的区别

#### 结论
-	随着时间推移，小说改编类电影增长幅度较小，但一直稳步增长
-	非小说改编类电影的总收入是小说改编类总收入的17倍
-	非小说改编类电影总计受欢迎程度是小说改编类总受欢迎程度的19倍
-	非小说改编类电影总数目是小说改编类总数目的30倍
-	小说改编类平均收入是非改编类的1.8倍
-	小说改编类受欢迎程度是非改编类的1.6倍
- 使用tableau story 表明此问题:https://public.tableau.com/profile/.80136852#!/vizhome/q3_7/Q3-story

### 问题 4: 由谁导演的什么类型电影更易收到欢迎？

In [12]:
split_cast=new_task3_name['director'].str.split('|',expand=True)#同上,根据'|'将数据分离
split_cast['id']=new_task3_name['id']

merged_q4=pd.merge(new_task3_name,split_cast,on=['id'])#与原始数据合并
q4=pd.melt(merged_q4,id_vars=['id'],value_vars=[0,1,2,3,4],value_name='regisseur').drop('variable',axis=1).dropna()#regisseur合并为一列
q4.to_csv('q4.csv',index=False,encoding='utf_8_sig')#输出表格

In [13]:
#将q4导入Tableau进行可视化:
q4dashboard="https://public.tableau.com/profile/.80136852#!/vizhome/q4_3/sheet1?publish=yes"
q4dashboard

'https://public.tableau.com/profile/.80136852#!/vizhome/q4_3/sheet1?publish=yes'

将q3与原始数据movies、q1分别取交集后导入Tableau：
- 创建计算字段为导演打分

#### 结论:
从问题1可得，最受欢迎的五个种类为：Drama ,Action,Comedy ,Thriller ,Adventure，一部受欢迎的好电影由多方面因素决定，既然是新公司，电影由谁导演很重要，故先人为确定导演们的受欢迎程度权重为0.5；另一方面，新公司资金不足，预算很重要，先预设其权重为0.2；最后，根据导演以前电影的收入可以大概估计导演水平，设其权重为0.3；开始计算导演得分，得到最合适的前5名的导演分别为：Steven Spielberg ,Peter Jackson ,Michael Bay ,Christopher Nolan ,James Cameron。

### 注意：
- 	计算过程中仅使用平均值，统计结果可能不准确。
-	Q4交Q1，导致数据增多,导致数据不准确。
-	问题3中直接得出倍数，可能会引起客户疑问。
-	问题4设置权重为结合平时生活自行设置，可能不准确。